*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Press Start 2P', 'bitmap'; 
}

body {
   
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('StormyDay.png');
    background-size: cover;
}

#bunny {
    width: 200px;
    height: 200px;
}

.container {
    
    width: 800px;
    max-width: 80%;
    background-color: transparent;
    border-color: #424241;
    border: solid;
    border-width: 4px;
    box-shadow: 0 0 10px 2px;
    padding: 10px;
    border-radius: 5px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #424242;
    border: 1px solid #252525;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    color:white;
    outline: none;
}



.btn:hover {
    border-color: yellow;
}



 .header1 {
    color:#efef5a;
    margin-top: 10px;
  
} 



.header1 span {
    opacity: 0;
}

.header1 span.revealed {
    opacity: 1;
}

.header1 span.white {
    color:#f5fcf5;
}

.music .btn {
    border-radius: 5px;

}

